body {
  background-color: #faf9f9;
  font-family: Arial, sans-serif;
}

h2 {
  color: #ff0000;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  color: #0055a4;
  text-decoration: underline;
}


.main {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}